/* Make saved passwords in preferences fixed width for easier reading */
#signonsTree treechildren { font-family: monospace; }

/* Styles to apply to webpages */

/* Change cursor for JavaScript links */
a[href^="javascript:"] { cursor: crosshair; }

/* Change cursor for links that open in new window */
:link[target="_blank"], :visited[target="_blank"],
:link[target="_new"],	:visited[target="_new"] {
	cursor: crosshair;
}

@-moz-document domain(mail.google.com) {
	.zA > .xY.bq4 { display: flex !important; }
}
