include "/opt/homebrew/opt/nano/share/nano/*.nanorc"
set backup
set backupdir "/tmp/"
set constantshow
set historylog
set regexp
set tabsize 4
set unix
#unbind M-Left all
#unbind M-Right all
bind M-B prevword main
bind M-F nextword main
